/* 
    _____________________
    | The text elements | 
*/

/* The <p> tags used to describe */
.gallery-paragraph{
    font-size: 14px !important;
    color: #fff !important;
}

/* The <h3> tags used to title the about elements */
.gallery-title{
    font-size: 16px !important;
    color: #fff !important;
    text-shadow: 0px 0px 0px #ffffff !important;;
}

/*
    ____________________________________
    | The galllery background elements |
*/

/* The galllery changer background */
#gallery-bgChanger:{
    background-color: #000 !important;
    opacity: 0.5 !important;
}

/* The background while in fullscreen */
:fullscreen {
  background-color: #000;
}
